#upload_bar /* This is the top upload bar */
{
    z-index: 3;
    background-color: #d0ff73;
    outline: auto;
}


#preview_pallet /*pallet div which contains the preview of uploaded image */
{
    display: flex;
    outline: auto;
    width: 755px;
    height: 400px;
    justify-content: center;
    background-color: rgba(7, 7, 7, 0.55); /* Black w/opacity */
    backdrop-filter: blur(6px);
}

#canvas_pallet /*pallet div which contains the canvas (for modified image) */
{
    display: flex;
    outline: auto;
    width:  755px;
    height: 400px;
    justify-content: center;
    background-color: rgba(7, 7, 7, 0.55); /* Black w/opacity */
    backdrop-filter: blur(6px);
}

#Output_Canvas  /* canvas which draws image */
{
    max-width: 100%;
    max-height: 100%;
    object-fit:scale-down; /* scaling down the uploaded image to fit inside the preview_pallet div*/ 
}

#preview /* preview of uploaded image */
{
    max-width: 100%;
    max-height: 100%;
    object-fit:scale-down; /* scaling down the uploaded image to fit inside the preview_pallet div*/
}

body
{
    /* background-color: rgb(49, 49, 49); */
    background-image: url("../GUI_Resources/background.png"); 
    background-size: cover; /* Resize the background image to cover the entire container */
}



